<script>
    $("#userPic").setAttribute("src",@ViewBag.image);
</script>
<link rel="stylesheet" href="~/css/index.css">
<div class="image">
    <div class="row text-center align-items-center align-center">
        <a asp-action="SearchRide" asp-controller="Ride">
        <div  class="col-md-6 text-center box align-items-center" style="background-color:rgb(147, 25, 255)">
            <h2>Book a ride</h2>
        </div>
            </a>
        <a asp-action="OfferRide" asp-controller="Ride">
        <div  class="col-md-6 box align-items-center" style="background-color:rgb(255, 172, 25)">
            <h2>Offer a ride</h2>
        </div>
            </a>
    </div>
</div>

