@model  string
<link rel="stylesheet" href="~/css/index.css">
<div class="image">
    <div class="row text-center align-items-center align-center">
        <a asp-action="BookRide" asp-controller="Ride">
        <div  class="col-md-6 text-center box align-items-center bg-darkviolet">
            <h2>Book a ride</h2>
        </div>
            </a>
        <a asp-action="OfferRide" asp-controller="Ride">
        <div  class="col-md-6 box align-items-center bg-darkorange">
            <h2>Offer a ride</h2>
        </div>
            </a>
    </div>
</div>

