@model CarPoolingMVC.Models.UserVM;
@{ 
    Model.HasVehicle = false;
}
<link rel="stylesheet" href="~/css/LoginSignup.css">
<div class="row">
    <div class="col-md-8 Image">
        <div class="heading">TURN<div class="miles"> MILES</div><br />INTO <div class="money">MONEY</div><div class="normal">RIDES ON TAP</div></div>
    </div>
    <div class="col-xs-4 form-background bg-darkorange">
        <div>
            <h1 class="form-heading">SIGN UP</h1>
            <form enctype="multipart/form-data" id="SignUpForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                    <label asp-for="Name" class="control-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Mail" class="form-control" />
                    <label asp-for="Mail" class="control-label"></label>
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" />
                    <label asp-for="Password" class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Number" class="form-control" />
                    <label asp-for="Number" class="control-label"></label>
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Age" class="form-control" />
                    <label asp-for="Age" class="control-label"></label>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Photo" class="form-control" type="file" id="photo" name="photo" />
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Gender,
     new SelectList(Enum.GetValues(typeof(GenderVM))),
     "Select Gender")
                </div>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.HasVehicle,
     new[] { new SelectListItem { Text = "Yes", Value = "true" }, new SelectListItem { Text = "No", Value = "false" } },
     "Has Vehicle");
                </div>
                <div id="VehicleDetails" style="'visibility:'+ @Model.HasVehicle?('visible'):('hidden')">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.Vehicle.Type,
                    new SelectList(Enum.GetValues(typeof(VehicleTypeVM))),
                    "Select Vehicle")
                    </div>
                    <div class="form-group">
                        <input asp-for="Vehicle.Model" class="form-control" />
                        <label asp-for="Vehicle.Model" class="control-label"></label>
                        <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Vehicle.Number" class="form-control" />
                        <label asp-for="Vehicle.Number" class="control-label"></label>
                        <span asp-validation-for="Vehicle.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div id="vehicleCapacity">
                            <input asp-for="Vehicle.Capacity" class="form-control" />
                            <label asp-for="Vehicle.Capacity" class="control-label"></label>
                            <span asp-validation-for="Vehicle.Capacity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" id="submit" class="btn submit bg-darkorange" />
                </div>
                <div class="form-group white">Already a member? <a asp-action="Login" class="bottom-line"> LOG IN </a></div>
                <output name="result"></output>
            </form>
        </div>
    </div>
</div>