.next {
    font-weight:bold;
    color:darkviolet;
    float:right;
}

.time {
    outline:none;
    margin: 5px;
    border: solid;
    border-color: darkviolet;
    border-radius: 1.5em !important;
    background-color: white;
}

    .time:focus:active {
        outline:none;
        margin: 5px;
        color: white;
        border-radius: 1.5em;
        background-color: darkviolet;
    }

.image {
    background: url(../images/img4.png) no-repeat bottom;
    background-size: cover;
    background-size: contain;
    background-size: 100% 50%;
    height: 100vh;
}

.container {
    margin-top:8%;
}

.rounded {
    border-radius: 5px 5px 5px 5px;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin: 4px;
}


.heading {
    margin: 10px;
    left: 20px;
    color: darkviolet;
    font: bold;
}

p {
    font-size: larger;
}

.rectangle {
    display: inline-block;
    margin: 22px;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    padding: 10px 15px 15px 10px;
    background-color: rgb(255, 172, 25);
    color: white;
}

button {
    all: unset;
}

input.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: unset;
    padding: 2px 5px;
    box-shadow: none;
}

.switch {
    margin-top:20%;
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    height: 22px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 172, 25);
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: darkviolet;
}

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 1.5em;
    }

.active {
    background-color: darkviolet;
}

.dots {
    overflow: hidden;
}

    .dots > .dot {
        display:inline-block;
    }

i {
    color: black;
}

.input-group-addon {
    background-color: white;
    border: unset;
    border-bottom: 1px solid;
    border-radius: unset;
}