@model CarPoolingMVC.Models.RequestVM
<form id="AvailableRides">
    @Html.HiddenFor(x => x.StartDate)
    @Html.HiddenFor(x => x.Destination)
    @Html.HiddenFor(x => x.Source)
    @Html.HiddenFor(x => x.NoOfSeats)
</form>