@model CarPoolingMVC.Models.RequestVM
<link rel="stylesheet" href="~/css/MyRides.css">
<div class="row">
    <div class="col-md-10 ">
        <form id="BookRide">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4 rounded shadow ride">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Book a Ride</h3>
                        <p>We get you Rides asap!</p>
                    </div>
                    <div class="col-md-4">
                        <label class="switch">
                            <input type="checkbox" class="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div id="first">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input asp-for="From" class="form-control" />
                                <label asp-for="From" class="control-label"></label>
                                <span asp-validation-for="From" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="To" class="form-control" />
                                <label asp-for="To" class="control-label"></label>
                                <span asp-validation-for="To" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dot darkviolet"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <span class="glyphicon glyphicon-map-marker darkviolet"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input asp-for="StartDate" class="form-control" />
                        <label asp-for="StartDate" class="control-label"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <small>Time</small>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn time ">5am-9am</button>
                            <button type="button" class="btn time ">9am-12pm</button>
                            <button type="button" class="btn time ">12pm-3pm</button>
                            <button type="button" class="btn time ">3pm-6pm</button>
                            <button type="button" class="btn time ">6pm-9pm</button>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label asp-for="VehicleType" class="control-label">Please Select the Vehicle</label><br />
                    <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleTypeVM>()" onchange="setNoOfSeats()"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-default submit bg-darkorange" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" id="availableRides">
</div>