@model CarPoolingMVC.Models.OfferRideVM
<link rel="stylesheet" href="~/css/MyRides.css">
<link rel="stylesheet" href="~/css/FormStyles.css">
<div class="row">
    <div class="col-md-10 ">
        <form id="OfferRide">
            <input id="count" value="0" hidden/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4 rounded shadow ride">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Offer a Ride</h3>
                        <p>We get you Rides asap!</p>
                    </div>
                    <div class="col-md-4">
                        <label class="switch">
                            <input type="checkbox" class="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div id="first">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input asp-for="Route.From" class="form-control" />
                                <label asp-for="Route.From" class="control-label"></label>
                                <span asp-validation-for="Route.From" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Route.To" class="form-control" />
                                <label asp-for="Route.To" class="control-label"></label>
                                <span asp-validation-for="Route.To" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="dot darkviolet"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <span class="glyphicon glyphicon-map-marker darkviolet"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="StartDate" class="form-control" />
                        <label asp-for="StartDate" class="control-label"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <small>Time</small>
                        <div class="btn-group" role="group" id="Time">
                            <button type="button" class="btn time" value="5am-9am">5am-9am</button>
                            <button type="button" class="btn time " value="9am-12pm">9am-12pm</button>
                            <button type="button" class=" btn time " value="12pm-3pm">12pm-3pm</button>
                            <button type="button" class="btn time " value="3pm-6pm">3pm-6pm</button>
                            <button type="button" class="btn time " value="6pm-9pm">6pm-9pm</button>
                        </div>
                    </div>
                    <a href="#" class="next">Next&raquo;</a>
                </div>
                <div id="second">
                    <div class="form-group">
                        <p class="btn add_stop" id="add_stop">Add Stop</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8" id="stops">
                        </div>
                        <div class="col-md-4" id="dots">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Available Vehicles</small>
                            <div id="check">
                            <select id="Vehicles"></select></div>
                        </div>
                        <div class="col-md-6">
                            <small>Price (/km)</small>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <small>Available Seats</small>
                        <div class="btn-group" role="group" id="NoOfSeats">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default submit bg-darkorange" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
