@model CarPoolingMVC.Models.RequestVM

<h4>SearchRide</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchRide">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input type="date" asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label">Please Select the Vehicle</label><br/>
                <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleTypeVM>()" onchange="setNoOfSeats()"></select>
            </div>
            <div id="noOfSeats">
            <div class="form-group">
                <label asp-for="NoOfSeats" class="control-label"></label>
                <input asp-for="NoOfSeats" class="form-control" />
                <span asp-validation-for="NoOfSeats" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
