.darkviolet {
  color: darkviolet !important;
}

.bg-darkorange {
  background-color: #ffac19 !important;
}

.bg-darkviolet {
  background-color: darkviolet !important;
}

.darkorange {
  color: #ffac19 !important;
}

.white {
  color: white;
}

.bg-white {
  background-color: white !important;
}
